.header_content {
  border-bottom: 1px solid #dbddde;
}

.logo {
  height: 70px;
  width: 280px;
  margin: 27px auto 0;
}

.logo_img {
  background: url(../img/logo.png) 0 0 no-repeat;
  width: 69px;
  height: 63px;
  display: block;
  float: left;
}

.logo_text {
  font-family: "Roboto", sans-serif;
  color: $main-color;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 10px;
  float: left;
  letter-spacing: 1.5px;
  line-height: 0.9;

  span {
    font-family: Arial, sans-serif;
    color: #797979;
    font-size: 11.5px;
    font-weight: 400;
    letter-spacing: 0.6px;
  }
}

.search-form {
  margin: 20px auto;
  text-align: center;
  position: relative;
  width: 239px;


  input {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 239px;
    height: 25px;
    padding: 5px;
    font-family: Arial, sans-serif;
  }

  #magnifier-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 4px;
    background: url(../img/search_sprite.png) -15px 0 no-repeat;
    cursor: pointer;
    border: none;

    &:hover {
      background: url(../img/search_sprite.png) 0 0 no-repeat;
    }
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 27px 0 14px 38px;
  }

  .search-form {
    float: right;
    margin-top: 47px;
    margin-bottom: 0;
    margin-right: 34px;


    #magnifier-button {
      right: 10px;
      top: 4px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1011px;
  }
}
