.navigation {
  display: none;
}

.navigation_active {
  display: block;
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  background-color: #252525;
  margin-bottom: 1rem;
  order: 4;
  z-index: 5;
}

.navigation__button {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 33px;
  line-height: 33px;

  &:hover {
    background-color: #4e26fd;
  }
}

@media screen and (min-width: 768px) {

  .navigation {
    display: block;
    min-height: 43px;
    font-family: Arial, sans-serif;
    font-weight: 700;

    .nav_content {
      margin-left: 100px;

      li {
        float: left;
        text-align: center;
      }

      li a {
        display: block;
        font-size: 15px;
        color: #62676d;
        text-decoration: none;
        height: 43px;
        line-height: 43px;
        padding: 0 20px;
      }

      li.active a {
        background: #3c4148;
        color: #fff;
      }

      li a:hover {
        background: $main-color;
        color: #fff;
      }
    }
  }
}