.slider {
  max-width: 1011px;
  margin: auto;
  position: relative;
}

.slide {
  background: url(../img/slider_bcgrnd.png) 50% 0 no-repeat;
  height: 446px;
  max-width: 1011px;
  margin: auto;
  color: #fff;
  text-align: left;
}

.slide_content {
  margin-top: 40px;
  margin-left: 10px;
}

.banner {
  width: 194px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $main-color;
}

.slide_title {
  margin: 10px 0 25px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 0.8;
  text-shadow: 0 1px 1px rgba(#000, 0.3);
}

.slide_text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  text-shadow: 0 1px 1px rgba(#000, 0.3);
  width: 90%;
}

.slide_dots {
  min-width: 100px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -50px;
  margin-bottom: -195px;
}

.slick-dots li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #c3c4c6;
  cursor: pointer;
  text-indent: -9999em;
  margin-right: 16px;
}

.slick-dots li:hover {
  background: #867c6f;
}

.slick-dots li.slick-active {
  background: $main-color;
  border: none;
}

@media screen and (min-width: 768px) {

  .slick_slider {
    width: 100%;
  }

  .slide_content {
    margin-top: 60px;
    margin-left: 25px;
  }

  .slide_title {
    margin: 10px 0 25px;
    font-size: 60px;
  }

  .slide_text {
    line-height: 1.5;
    width: 600px;
  }

  .slide_dots {
    margin-left: -27px;
  }
}

@media screen and (min-width: 1024px) {
  .slide_content {
    margin-top: 60px;
    margin-left: 95px;
  }
}